body{
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100;
}

#card{
    background-color: transparent;
    color: white;
}

#detail{
    margin-left: 2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
#dic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

#card1{
    margin-left:50px;
    margin-top: 105px;
    background-color: transparent;
}

#fine{
    margin-left: 5rem;
    margin-top: 20px;
}
